/*Charte graphique*/

:root {
  --primary-bg-color: #EDCBB0;
  --primary: #744538;
  --secondary: white;
  --color-text: #000;
  --color-text-alt: #3e4843;
  --color-heading-main: #000;
  --color-heading-main-alt: #fff;
  --color-heading-sub: #374b41;
  --color-menu: #7ec59d;
  --color-menu-hover: #128b47;
  --color-bg: #4f6c5e;
  --color-bg-menu: #EDCBB0;
  --color-link: #000;
  --color-link-alt: #3e4843;
  --color-link-hover: #000;
  --color-link-alt-hover: #fff;
  --color-button-menu: #000;
  /*--color-button-menu-hover: #79a18a;*/
  --color-button-close: #fff;
  /*--color-button-close-hover: #79a18a;*/
}


@font-face {
  font-family: "Paris";
  src: url("../font/Schnyder Wide S Bold.otf");
}
@font-face {
  font-family: "Script";
  src: url("../font/TuesdayNight-Regular.otf");
}
@font-face {
  font-family: "Sans";
  src: url("../font/Rene Bieder - Galano Grotesque.otf");
}


h1{
  font-family: "Paris";
  font-size: 2em;
}

.script{
  font-family: "Script";
  letter-spacing: 2px;
}

.sans{
  font-family: "Sans";
}

.uppercase{
  text-transform: uppercase;
}

.semi-bold{
  font-weight: 500;
}
body {
  background: var(--primary-bg-color);
  margin: 0;
  padding: 20px !important;
  color: #744538;
}

p {
    font-size: 19px;
}

.toHide{
  display: none !important;
}

.main-wrapper{
  opacity: 1;
  transition:all ease 0.7s;

    display: flex;
    flex-wrap: wrap;
    padding-top: 17vh;
   /* min-height: 100vh;*/
}

.flex-col {
  display: flex;
  flex-direction: column;
      align-items: center;
      padding-top: 20vh !important;
      padding-bottom: 15vh;
}
/*Preloader*/
.preloader{
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     z-index: 1000;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* background: url('../img/bg-1.jpg');
    background-size: cover;
    background-position: center;*/
    background: #edcbb0;
  }

.content-porte img {
	width: 100%;
    height: 250px;
    object-fit: none;
        border-radius: 12px;
      /*  object-position: 39%;*/
}
.section-5 p {
  margin-bottom: 35px;
}
#preloader_path {
    fill:transparent;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 1.5s linear forwards;
}

@keyframes draw {
  from{
     fill:transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill:var(--primary);
  }
}

#preloader_svg{
	height: 50%;
}

.preloader a {
      height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*end Preloader*/

.waze-wrapper {
      background-color: #FAEDCD;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
 /*   width: 505px;*/
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Animation Jas*/
#jas_svg {
    fill:transparent;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    position: absolute;
    width: 95%;
}

.draw {
  animation: draw 1.5s linear forwards;
}

.jas-img-container{
  position: relative;
  margin-bottom: 20px;
}
.jas-img-container img{
  width: 100%;
  opacity: 0;
  transition: all ease 1.5s;
}
/*END Animation Jas*/

.opacity-1 {
  opacity: 1 !important;
}


.custom-transition {
    width: 200vw;
    height: 100vh;
    position: fixed;
    z-index: 150000;
    top: 0;
    left: -200%;
    overflow: hidden;
}

 .header{
    /*padding-top: 20px;*/
    height: 100px;
 transition: all ease 1s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    position: fixed;
    top: 0px;
    width: 100vw;
    left: 0;
    z-index: 10;
    padding: 5px 0;
  }

  .down{
    transform: translateY(-100%);
  }

  .up{
    background: white;
  }

  .go-back{
    position: absolute;
    left: 26px;
    font-family: 'Script';
    font-size: x-large;
        color: #744538;
  }

  a {
    text-decoration: none;
  }

li {
  margin: 5px 0;
}

li span {
  font-size: 15px;
  font-style: italic;
}

.header #preloader_svg{
  height: 100%;
  transition: all ease 0.7s
}

.waze-qr {
      width: 240px;
    padding: 15px;
}


/*footer*/
footer {
  width: 100%;
  /*position: fixed;
  bottom: 0;
  left: 0;*/
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  z-index: 1;
  /*background: linear-gradient(0deg, var(--primary-bg-color), transparent);*/
}

/*section*/
section{
/*  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;*/


        /* height: max-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    /* min-height: 70vh; */
    margin: 20px 0;
}

.content-wrapper {
  background: white;
  max-width: 600px;
  max-height: 700px;
  width: 100%;
  height: 100%;
  padding:30px;
  border-radius: 5px;

  overflow-wrap: anywhere;

      display: flex;
    flex-direction: column;
    align-items: center;
}

/*section 1*/

#hands-rose{
      position: absolute;
    height: 50%;
    mix-blend-mode: soft-light;
}

/*Content porte*/

.porte-el{
  background-color: #FAEDCD;
  border-radius: 100% 100% 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-porte {
  padding: 20px;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.save-the-date{
  font-family: "Paris";
      display: flex;
    flex-direction: column;
    align-items: center;
}

.save-the-date p {
  margin: 2px 0;
letter-spacing: 6px;
}

.line-v{
  height: 25px;
  width: 2px;
  background-color: var(--primary);
  margin: 5px 0
}


.title-porte-el {
     font-size: clamp(24px,38px,8vw);
}


/*Section 2*/
.figure-jas{
position: absolute;
  bottom: -27px;
  right: 0px;
  z-index: 1;
  margin: 0;
  font-weight: bold;
  mix-blend-mode: multiply;
}

.section-2 {
  max-height: 700px;
 /* max-height: 90%;*/
}


/*Resp*/

@media screen and (max-width: 1400px){
  section{
    width: 40%;
    min-height: max-content;
    margin: 4rem 0;
  }
  .main-wrapper {
  padding-top: 7vh;    
  justify-content: space-around;
}

}

@media screen and (max-width: 1250px){

}

@media screen and (max-width: 1020px){
  section{
    width: 100%;
  }

}


@media only all and (max-width: 460px){
/*  footer {
  z-index: -1;
}*/

  .header{
   height: 100px;
  }
  .content-wrapper {
    max-height: 100%;
    max-width: 80vw;
     padding: 15px;
}

.section-1 {
 /* height: 380px;*/
}

.porte-el {
    border-radius: 0% 0% 0 0;
}

.content-porte img {
    object-position: 46% 50%;
}

.tiles {
    background-position: 42% !important;
}

.button-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    /* stroke: var(--color-button-close); */
    color: white;
    background: unset !important; 
     border-radius: unset !important; 
     padding: unset !important; 
}

}


/*Bouton Hover*/
.content__item {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
  list-style: none;
}
/*.content__item::before {
    color: var(--color-number);
    position: absolute;
    top: 0;
    left: 0;
    content: counters(itemcounter, ".", decimal-leading-zero);
}*/

button {
  cursor: pointer;
}
.button {
    pointer-events: auto;
    cursor: pointer;
    background: #faedcd;
    border: none;
    padding: 1.5rem 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
}

.button::before, .button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.button--surtur {
  padding: 0;
  background: none;
  -webkit-clip-path: circle(40% at 50% 50%);
  clip-path: circle(40% at 50% 50%);
}

.button--surtur:focus-visible {
  background:  #886542;;
}

.textcircle {
  position: relative;
  display: block;
  width: 180px;
}

.textcircle text {
  font-size: 32px;
  text-transform: uppercase;
  fill:  #886542;;
}

.textcircle textPath {
  letter-spacing: 17px; /* Firefox needs this */
}

.button--surtur:hover .textcircle {
  animation: rotateIt 7s linear infinite;
}

.eye {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

.eye__outer,
.eye__inner,
.eye__lashes-up,
.eye__lashes-down {
  stroke:  #886542;;
  fill: none;
  stroke-width: 1.5px;
}

.eye__lashes-down {
  opacity: 0;
}

.eye__iris {
  fill:  #886542;;
}

.button--surtur:hover .eye__lashes-up,
.button--surtur:hover .eye__inner,
.button--surtur:hover .eye__iris {
  animation: blinkHide 2s step-end infinite;
}

.button--surtur:hover .eye__lashes-down {
  animation: blinkShow 2s step-end infinite;
}


.blink-animation-2 {
  animation: blinkHide 2s step-end infinite;
} 
.blink-animation {
  animation: blinkShow 2s step-end infinite;
} 

@keyframes blinkHide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes blinkShow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}


/*section 3*/

.section-3{
  display: flex;
  flex-direction: row-reverse;
}

.section-3 > div {
      z-index: 1;
      width: 80%;
}

.section-3 div:last-child{
  padding-right: 2rem;
  width: 20%
}

#hands_rose_blob {
/*  height: 80%;
  width: 100%;
  overflow: visible;*/

    height: 80%;
    width: 44%;
    overflow: visible;
    position: absolute;
    left: 0;
    top: 50px;
    transform: translateX(-70px);
}

#hands_rose_blob .cls-4, #hands_rose_blob .cls-3{
  stroke:transparent;
  transition: all ease 0.7s !important;
}

#hands_rose_blob .cls-4 {
    /*transform: rotate3d(1, 1, 1, 0deg)  translate(0px, 0px);*/
    transition: all 0.7s ease !important;
    animation: petaleFleure 10s infinite;
}

@keyframes petaleFleure {
  0% {
    transform: rotate3d(1, 1, 1, 0deg)  translate(0px, 0px);
  }
  50%{
    transform: rotate3d(1, 1, 1, 360deg)  translate(120px, 180px);
  }
  100%{
    transform: rotate3d(1, 1, 1, 0deg)  translate(0px, 0px);
  }
}

#hands_rose_blob .cls-3 {
    transition: all 0.7s ease !important;
    animation: petaleFleureBis 18s infinite;
}


@keyframes petaleFleureBis {
  0% {
    transform: rotateY( 0deg)  translate(0px, 0px) rotateZ(0deg);
  }
  25%{
    transform: rotateY( 45deg )  translate(-5px, 20px) rotateZ(15deg);
  }
  50%{
    transform: rotateY( 95deg)  translate(60px, 30px) rotateZ(45deg);
  }
  75%{
    transform: rotateY( 145deg)  translate(45px, 0px) rotateZ(90deg);
  }
  100% {
    transform: rotateY( 0deg)  translate(0px, 0px) rotateZ(0deg);
  }
}


iframe {
  width: 100%;
}

button {
  margin: 10px;
  padding: 10px 20px;
  display: inline-block;
  border: 2px solid var(--primary);
  border-radius: 30px 2px 30% 3px / 4px 10px 3px 30px;
  background: transparent;
}

button span {
  font-family: "Paris";
}

.btn-text{
letter-spacing: 1px;
    font-size: medium;
    color: #784a3c;
}

.strong{
  font-weight: bold;
}

/*Section 4*/

.section-4 p {
      max-width: 334px;
    text-align: center;
}

#dormir_svg{
  width: 80%;
  overflow: visible;
  height: 100%;
}

@media only all and (max-width: 460px){
  #hands_rose_blob {
      /*    height: 313px;*/
    transform: translate(-38px,-11px);
  }
}

#dormir_svg{
  fill: var(--primary);
}

.sleep_svg-wrapper{
  position: relative;
  display: flex;
    justify-content: center;
}

#moon #Graphic_Elements{
  transition: all ease 04s;
  animation : nuit_moon ease 18s infinite;
  transform-origin: center;
}

@keyframes nuit_moon {
  0% {
    transform: rotateZ(0deg) translate(0px,0px);
  }
  50% {
    transform: rotateZ(-7deg) translate(-5px,0px) ;
  }
  100% {
    transform: rotateZ(0deg) translate(0px,0px);
  }
}

#etoiles #group_etoiles{
  animation : nuit_etoiles ease 250s infinite;
  transform-origin: center;
}

@keyframes nuit_etoiles {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/*goey*/
.gooey{
  background-image: red;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 150px; height: 144px;
  animation: morph 3s linear infinite; 
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
  position: absolute;
  top: 0;
  left: 0;
    opacity: 0.5 !important;
}
.gooey:before,
.gooey:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0; top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  /*box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);*/
  box-shadow: 5px 5px 89px var(--primary-bg-color);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-color:var(--primary-bg-color);
}

.gooey:before{
  animation: morph 3s linear infinite;
  opacity: .21;
  animation-duration: 1.5s;
}

.gooey:after{
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: .50;
  content: "";
}

@keyframes morph{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    opacity: .35;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

/*Section 5 */

#section-5{
  min-height: unset;
}

.section-5 {
  height: max-content;
}

.button--kari {
  font-family: freight-display-pro, serif;
  font-weight: 900;
  font-size: 1.25rem;
  border-radius: 50%;
  border: 2px solid var(--primary);
}

.button--kari > span {
  display: inline-block;
  transition: opacity 0.1s;
  color: var(--primary);
}

.button--kari:hover > span {
  opacity: 0;
}

.button--kari .marquee {
  transform: rotate(-2.75deg);
}

.button--kari:hover .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.6s;
}

.animation-cagnotte{
  animation-play-state: running !important;
  opacity: 1 !important;
  transition-duration: 0.6s;
}

.marquee span {
  text-align: center;
  white-space: nowrap;
  font-style: italic;
  padding: 1.5rem 0.5rem;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

/*.content__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.content__item::before {
  color: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  content: counters(itemcounter, ".", decimal-leading-zero);
}
*/

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  --offset: 1rem;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 1s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  color: var(--primary);
}

#countdown {
  font-size: xx-large;
  font-family: 'Script';
/*      background: white;
    padding: 0px 34px;
    border-radius: 38px;
    box-shadow: -1px 4px 5px 1px #7445385c;*/
}


/*barba / curtain*/
.curtain{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    /*background: #f3cdaf;*/ 
    transform: translate(0,100%);
    background-image: url("../img/bg-curtain.jpg");
    background-size: cover;
    background-position: left;
}


/*
PAGE LIEU*/
.lieu-container {
    background: white;
    padding: 10px;
    border-radius: 15px;
  }

  .lieu-container img {
    width: 100%;
  }

/*Menu*/

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
   font-family: 'Script';
  font-size: x-large;
}

.unbutton:focus {
  outline: none;
}

.hover-line {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.hover-line::before {
  content: '';
  height: 1px;
  width: 100%;
  background: currentColor;
  position: absolute;
  top: 92%;
  transition: transform 0.3s;
  transform-origin: 0% 50%;
}

.hover-line:hover::before {
  transform: scaleX(0);
  transform-origin: 100% 50%;
}


#menu-wrapper{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 15000;
    transform: translateY(100%);
    width: 100vw;
    left: 0;
}

.menu-wrap--open-id {
    transform: translateY(0%) !important;
    transition: all ease 0.4s;
}
main {
 /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;*/
}

.frame {
/*  grid-area: 1 / 1 / 2 / 2;
  z-index: 100;
  display: grid;
  align-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 1rem 1rem 0.5rem 1rem;
  pointer-events: none;
  font-size: 1rem;
  grid-template-columns: repeat(4,25%);
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 'author heading heading button'
            '... ... ... ...'
            'links links links links'
            'title title title title';  */

    position: absolute;
    right: 26px;
}

.frame--menu-open {
  color: var(--color-text-alt);
  --color-link: var(--color-link-alt);
  --color-link-hover: (--color-link-hover-alt);
  --color-heading-main: var(--color-heading-main-alt);
}

.frame__title {
  grid-area: title;
  font-size: inherit;
  font-weight: normal;
  margin: 0.5rem 0 0;
  justify-self: center;
}

.frame__links {
  grid-area: links;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-self: end;
}

.frame__links a {
  margin: 0 0.5rem;
}

.frame__author {
  margin: 0;
  grid-area: author;
}

.frame__button {
  justify-self: end;
  grid-area: button;
}

.frame--menu-open .frame__author {
  opacity: 0;
  pointer-events: none;
}

.frame__heading {
  grid-area: heading;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  justify-self: center;
}

.frame__heading-main {
  line-height: 0.8;
  display: block;
  font-size: 1.5rem;
  color: var(--color-heading-main);
}

.frame__heading-sub {
  font-size: 0.75rem;
  line-height: 1;
  color: var(--color-heading-sub);
}

.frame--menu-open .frame__heading-sub {
  pointer-events: none;
  opacity: 0;
}

.frame a,
.frame button {
  pointer-events: auto;
}

.button-menu {
  font-family: 'Script';
  font-size: x-large;
  /*width: 45px;*/
  height: 45px;
      color: #744538;
  /*border-radius: 50%;*/
 /* display: inline-grid;
  place-items: center;*/
/*  border: 1px solid var(--color-button-menu);*/
/*  fill: var(--color-button-menu);*/
}

.button-menu svg {
  transition: transform 0.5s ease;
}

.button-menu:focus-visible,
.button-menu:hover {
  fill: var(--color-button-menu-hover);
  border-color: var(--color-button-menu-hover);
}

.button-menu:hover svg {
  transform: scale(1.1);
}

.frame--menu-open .button-menu {
  opacity: 0;
  pointer-events: none;
}

.content {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  width: 100vw;
  position: relative;
  align-items: center;
  height: 100vh;
  justify-content: center;
  display: none;
}

.content__title {
  font-weight: 400;
  text-align: center;
  font-size: 7.5vw;
  line-height: 0.75;
  cursor: default;
  margin: 10vh 0 0 0;
}

.content__title-main {
  font-size: 23vw;
    display: block;
    will-change: opacity, transform;
}

.content__title-sub {
  display: block;
  will-change: opacity, transform;
}

.button-enter {
  margin-top: 4vh;
  cursor: not-allowed;
  transition: transform 0.5s ease;
}

.button-enter:hover {
    transform: translateX(15px) rotate(-40deg);
}

.menu-wrap {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100vh;
  position: relative;
  background: #f2b788; 
  /*var(--color-bg-menu);*/
  pointer-events: none;
  opacity: 0;
}

.overlay {
  fill:#f2b788;
}

.menu-wrap.menu-wrap--open {
  pointer-events: auto;
  opacity: 1;
}

.overlay {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  z-index: 1000;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.menu {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.menu__item {
  font-size: 7vw;
  color: #fff;
  cursor: pointer;
  line-height: 1;
  font-weight: 300;
    text-align: right;
    position: relative;
    will-change: opacity, transform;
        margin: 0.5rem;
}

.menu__item:hover .menu__item-tiny {
  color: #fff;
}

.menu__item-tiny {
  font-size: 1rem;
}

.menu__item:nth-child(odd) {
/*  margin-left: -10vw;*/
}

.menu__item-text {
/*  color: var(--color-menu);*/
  color: white;
  font-family: 'Paris';
}

.menu__item:hover .menu__item-text {
  /*color: var(--color-menu-hover);*/
  color: white;
}



.tiles {
    background: url(../img/kiss.jpg);
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    opacity: 1;
}



.button-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    /* stroke: var(--color-button-close); */
    color: white;
    background: #000000bf;
    border-radius: 100%;
    padding: 10px;
}

.button-close:focus-visible,
.button-close:hover {
  stroke: var(--color-button-close-hover);
}

@media screen and (min-width: 53em) {
/*  .frame {
    grid-template-columns: 390px 1fr 390px;
    grid-template-areas: 'author heading button'
              '... ... ...'
              'title links links';  
    font-size: 1.5rem;
  }*/
  .frame__title {
    justify-self: start;
    align-self: end;
    margin: 0 3rem 0 0;
  }
  .frame__links {
    display: flex;
    justify-self: start;
    padding: 0;
  }
  .frame__links a:not(:last-child) {
    margin-right: 0.5rem;
  }
  .frame__heading-main {
    font-size: 2.15rem;
  }
  .frame__heading-sub {
    font-size: 1rem;
  }
  .menu__item-tiny {
    font-size: 2rem;
  }
}


/*page l'évnèment*/
.code-couleur-wrapper{
  display: flex;
    flex-wrap: wrap;

}

.code-couleur {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: 5px;
  transition: all ease 0.4s;
  cursor: pointer;
}

.cc-1{
  background: #FAEDCD;
}
.cc-2{
  background: #F4E5E1;
}
.cc-3{
  background: #DFE7FD;
}
.cc-4{
  background: #F9E5D8;
}
.cc-5{
  background: #F0F5E8;
}
.cc-6{
  background: #F5ECDC;
}
.cc-7{
  background: #F7F5F5;
}
.cc-8{
  background: #FDEAE3;
}
.cc-9{
  background: #F4DED1;
}
.cc-10{
  background: #F8D8AD;
}

.couleur-animation {
  width: 150px;
  height: 100px;
  border-radius: 0;
  padding:10px;
 display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide{
  opacity: 0;
  transition: all ease .4s;
  font-family: 'Script';
  font-size: small;
}

.couleur-animation .hide {
 opacity: 1;
 font-size: x-large;
}

a:-webkit-any-link {
    color: #744538;
    cursor: pointer;
    text-decoration: none;
    font-size: 19px;
}

li a {
  text-decoration: underline !important;
}

.hidePls {
  display: none !important;
}

.rsvp-body{
    background: url(/assets/img/RSVP.svg), var(--primary-bg-color);
    background-size: 100%;
    background-position: 38% 32%;
}


.lottie-wrapper{
	width: 10px;
	opacity: 0;
	height: 10px;
}
#firstLottie {
	width: 100%;
}

.lottie-wrapper p {
	text-align: center;
	font-family: 'Paris';
	font-size: 20px;
}