/*Charte graphique*/

:root {
  --primary-bg-color: #EDCBB0;
  --primary: #744538;
  --secondary: white;
}


@font-face {
  font-family: "Paris";
  src: url("../font/Schnyder Wide S Bold.otf");
}
@font-face {
  font-family: "Script";
  src: url("../font/TuesdayNight-Regular.otf");
}
@font-face {
  font-family: "Sans";
  src: url("../font/Rene Bieder - Galano Grotesque.otf");
}


h1{
  font-family: "Paris";
}

.script{
  font-family: "Script";
  letter-spacing: 2px;
}

.sans{
  font-family: "Sans";
}

.uppercase{
  text-transform: uppercase;;
}

.semi-bold{
  font-weight: 500;
}
body {
  background: var(--primary-bg-color);
  margin: 0;
  padding: 20px;
  color: #744538;
}


.main-wrapper{
  opacity: 0;
  transition:all ease 0.7s;

    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
}
/*Preloader*/
.preloader{
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     z-index: 1000;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#preloader_path {
    fill:transparent;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 1.5s linear forwards;
}

@keyframes draw {
  from{
     fill:transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill:var(--primary);
  }
}

#preloader_svg{
	height: 50%;
}
/*end Preloader*/



/*Animation Jas*/
#jas_svg {
    fill:transparent;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    position: absolute;
    width: 95%;
}

.draw {
  animation: draw 1.5s linear forwards;
}

.jas-img-container{
  position: relative;
  margin-bottom: 20px;
}
.jas-img-container img{
  width: 100%;
  opacity: 0;
  transition: all ease 1.5s;
}
/*END Animation Jas*/



 .header{
    padding-top: 20px;
    height: 150px;
    transition: all ease 1s;
    /*background: linear-gradient(180deg, var(--primary-bg-color), transparent );*/
  }


.header #preloader_svg{
  height: 100%;
  transition: all ease 0.7s
}


/*footer*/
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  /*background: linear-gradient(0deg, var(--primary-bg-color), transparent);*/
}

/*section*/
section{
/*  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;*/

  /*height: max-content;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    min-height: 100vh;
}

.content-wrapper {
  background: white;
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  padding:30px;
  border-radius: 5px;

  overflow-wrap: anywhere;

      display: flex;
    flex-direction: column;
    align-items: center;
}

/*section 1*/

#hands-rose{
      position: absolute;
    height: 50%;
    mix-blend-mode: soft-light;
}

/*Content porte*/

.porte-el{
  background-color: #FAEDCD;
  border-radius: 100% 100% 0 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-porte {
  padding: 20px;
}

.save-the-date{
  font-family: "Paris";
      display: flex;
    flex-direction: column;
    align-items: center;
}

.save-the-date p {
  margin: 2px 0;
letter-spacing: 6px;
}

.line-v{
  height: 25px;
  width: 2px;
  background-color: var(--primary);
  margin: 5px 0
}


.title-porte-el {
     font-size: clamp(24px,38px,8vw);
}


/*Section 2*/
.figure-jas{
position: absolute;
  bottom: -27px;
  right: 0px;
  z-index: 1;
  margin: 0;
  font-weight: bold;
  mix-blend-mode: multiply;
}

.section-2 {
  /*max-height: 700px;*/
  max-height: 90%;
}


/*Resp*/

@media screen and (max-width: 1400px){
  section{
    width: 40%;
    min-height: max-content;
    margin: 4rem 0;
  }
  .main-wrapper {
  padding-top: 15vh;    
  justify-content: space-around;
}

}

@media screen and (max-width: 1250px){

}

@media screen and (max-width: 1020px){
  section{
    width: 100%;
  }

}


@media only all and (max-width: 460px){
  .header{
   height: 125px;
  }
  .content-wrapper {
    max-height: 100%;
    max-width: 80vw;
     padding: 15px;
}

.section-1 {
  height: 380px;
}

}


/*Bouton Hover*/
.content__item {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
  list-style: none;
}
/*.content__item::before {
    color: var(--color-number);
    position: absolute;
    top: 0;
    left: 0;
    content: counters(itemcounter, ".", decimal-leading-zero);
}*/

.button {
    pointer-events: auto;
    cursor: pointer;
    background: #faedcd;
    border: none;
    padding: 1.5rem 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
}

.button::before, .button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.button--surtur {
  padding: 0;
  background: none;
  -webkit-clip-path: circle(40% at 50% 50%);
  clip-path: circle(40% at 50% 50%);
}

.button--surtur:focus-visible {
  background:  #886542;;
}

.textcircle {
  position: relative;
  display: block;
  width: 180px;
}

.textcircle text {
  font-size: 32px;
  text-transform: uppercase;
  fill:  #886542;;
}

.textcircle textPath {
  letter-spacing: 17px; /* Firefox needs this */
}

.button--surtur:hover .textcircle {
  animation: rotateIt 7s linear infinite;
}

.eye {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

.eye__outer,
.eye__inner,
.eye__lashes-up,
.eye__lashes-down {
  stroke:  #886542;;
  fill: none;
  stroke-width: 1.5px;
}

.eye__lashes-down {
  opacity: 0;
}

.eye__iris {
  fill:  #886542;;
}

.button--surtur:hover .eye__lashes-up,
.button--surtur:hover .eye__inner,
.button--surtur:hover .eye__iris {
  animation: blinkHide 2s step-end infinite;
}

.button--surtur:hover .eye__lashes-down {
  animation: blinkShow 2s step-end infinite;
}


.blink-animation-2 {
  animation: blinkHide 2s step-end infinite;
} 
.blink-animation {
  animation: blinkShow 2s step-end infinite;
} 

@keyframes blinkHide {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}

@keyframes blinkShow {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
}


/*section 3*/

.section-3{
  display: flex;
  flex-direction: row-reverse;
}

.section-3 > div {
      z-index: 1;
      width: 80%;
}

.section-3 div:last-child{
  padding-right: 2rem;
  width: 20%
}

#hands_rose_blob {
/*  height: 80%;
  width: 100%;
  overflow: visible;*/

    height: 80%;
    width: 44%;
    overflow: visible;
    position: absolute;
    left: 0;
    top: 50px;
    transform: translateX(-70px);
}

#hands_rose_blob .cls-4, #hands_rose_blob .cls-3{
  stroke:transparent;
  transition: all ease 0.7s !important;
}

#hands_rose_blob .cls-4 {
    /*transform: rotate3d(1, 1, 1, 0deg)  translate(0px, 0px);*/
    transition: all 0.7s ease !important;
    animation: petaleFleure 10s infinite;
}

@keyframes petaleFleure {
  0% {
    transform: rotate3d(1, 1, 1, 0deg)  translate(0px, 0px);
  }
  50%{
    transform: rotate3d(1, 1, 1, 360deg)  translate(120px, 180px);
  }
  100%{
    transform: rotate3d(1, 1, 1, 0deg)  translate(0px, 0px);
  }
}

#hands_rose_blob .cls-3 {
    transition: all 0.7s ease !important;
    animation: petaleFleureBis 18s infinite;
}


@keyframes petaleFleureBis {
  0% {
    transform: rotateY( 0deg)  translate(0px, 0px) rotateZ(0deg);
  }
  25%{
    transform: rotateY( 45deg )  translate(-5px, 20px) rotateZ(15deg);
  }
  50%{
    transform: rotateY( 95deg)  translate(60px, 30px) rotateZ(45deg);
  }
  75%{
    transform: rotateY( 145deg)  translate(45px, 0px) rotateZ(90deg);
  }
  100% {
    transform: rotateY( 0deg)  translate(0px, 0px) rotateZ(0deg);
  }
}


iframe {
  width: 100%;
}

/*Section 4*/

#dormir_svg{
  width: 80%;
  min-width: 350px;
}

@media only all and (max-width: 460px){
  #hands_rose_blob {
      /*    height: 313px;*/
    transform: translate(-38px,-11px);
  }
}

#dormir_svg{
  fill: var(--primary);
}

.sleep_svg-wrapper{
  position: relative;
  display: flex;
    justify-content: center;
}

#moon #Graphic_Elements{
  transition: all ease 04s;
  animation : nuit_moon ease 18s infinite;
  transform-origin: center;
}

@keyframes nuit_moon {
  0% {
    transform: rotateZ(0deg) translate(0px,0px);
  }
  50% {
    transform: rotateZ(-7deg) translate(-5px,0px) ;
  }
  100% {
    transform: rotateZ(0deg) translate(0px,0px);
  }
}

#etoiles #group_etoiles{
  animation : nuit_etoiles ease 250s infinite;
  transform-origin: center;
}

@keyframes nuit_etoiles {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/*goey*/
.gooey{
  background-image: red;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  width: 150px; height: 144px;
  animation: morph 3s linear infinite; 
  transform-style: preserve-3d;
  outline: 1px solid transparent;
  will-change: border-radius;
  position: absolute;
  top: 0;
  left: 0;
    opacity: 0.5 !important;
}
.gooey:before,
.gooey:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0; top: 0;
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  /*box-shadow: 5px 5px 89px rgba(0, 102, 255, 0.21);*/
  box-shadow: 5px 5px 89px var(--primary-bg-color);
  will-change: border-radius, transform, opacity;
  animation-delay: 200ms;
  background-color:var(--primary-bg-color);
}

.gooey:before{
  animation: morph 3s linear infinite;
  opacity: .21;
  animation-duration: 1.5s;
}

.gooey:after{
  animation: morph 3s linear infinite;
  animation-delay: 400ms;
  opacity: .50;
  content: "";
}

@keyframes morph{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    opacity: .35;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

/*Section 5 */

.section-5 {
  height: max-content;
}

.button--kari {
  font-family: freight-display-pro, serif;
  font-weight: 900;
  font-size: 1.25rem;
  border-radius: 50%;
  border: 2px solid var(--primary);
}

.button--kari > span {
  display: inline-block;
  transition: opacity 0.1s;
  color: var(--primary);
}

.button--kari:hover > span {
  opacity: 0;
}

.button--kari .marquee {
  transform: rotate(-2.75deg);
}

.button--kari:hover .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.6s;
}

.animation-cagnotte{
  animation-play-state: running !important;
  opacity: 1 !important;
  transition-duration: 0.6s;
}

.marquee span {
  text-align: center;
  white-space: nowrap;
  font-style: italic;
  padding: 1.5rem 0.5rem;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}

/*.content__item {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  counter-increment: itemcounter;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.content__item::before {
  color: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  content: counters(itemcounter, ".", decimal-leading-zero);
}
*/

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  --offset: 1rem;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 1s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  color: var(--primary);
}

#countdown {
  font-size: xx-large;
  font-family: 'Script';
}